:root {
  --color-green: #02897a;
  --color-blue: #4d8dff;
  --color-violet: #740a76;
  --color-black: #22343d;
  --color-white: #ffffff;
  --color-red: #f03e3d;
  --color-black-v2: #1f2e35;
  --color-grey: #30444e;
  --color-light-grey: #475e69;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
