:root {
  --color-green: #02897a;
  --color-blue: #4d8dff;
  --color-violet: #740a76;
  --color-black: #22343d;
  --color-white: #ffffff;
  --color-red: #f03e3d;
  --color-black-v2: #1f2e35;
  --color-grey: #30444e;
  --color-light-grey: #475e69;
  --color-logo: #173a56;
  --color-border: #bcd0e5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
}

.header__container {
}

.header__logo-link {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: var(--color-logo);
}

.header__logo-icon {
}

.header__nav {
}

.header__nav-list {
}

.header__nav-item {
}

.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-black);
}

.header__nav-link:hover,
.header__nav-link:focus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
}

.header__list {
}

.header__item {
}

.header__button-white {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-logo);
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  width: 102px;
  min-height: 42px;
}

.header__button-green {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  border-radius: 4px;
  width: 102px;
  min-height: 42px;
}

.header__switcher {
}

.hero {
}

.hero__container {
}

.hero__wrapper {
}

.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.hero__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  border-radius: 4px;
  width: 178px;
  min-height: 53px;
}

.hero__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-green);
  text-decoration: underline;
}

.hero__link-icon {
}

.hero__image {
}

.product {
}

.product__container {
}

.product__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  width: 530px;
  text-align: center;
  margin: 0 auto;
}

.product__list {
}

.product__item {
}

.product__headline {
}

.product__text {
}

.product__button {
}

.management {
}

.management__container {
}

.management__wrapper {
}

.management__pretitle {
}

.management__title {
}

.management__subtitle {
}

.management__list {
}

.management__item {
}

.management__headline {
}

.management__text {
}

.management__wrap {
}

.management__image {
}

.customer {
}

.customer__container {
}

.customer__wrapper {
}

.customer__image {
}

.customer__wrap {
}

.customer__pretitle {
}

.customer__title {
}

.customer__subtitle {
}

.customer__list {
}

.customer__item {
}

.customer__icon {
}

.customer__text {
}

.collaborative {
}

.collaborative__container {
}

.collaborative__wrapper {
}

.collaborative__pretitle {
}

.collaborative__title {
}

.collaborative__subtitle {
}

.collaborative__list {
}

.collaborative__item {
}

.collaborative__headline {
}

.collaborative__text {
}

.collaborative__wrap {
}

.collaborative__image {
}

.process {
}

.process__container {
}

.process__title {
}

.process__subtitle {
}

.process__list {
}

.process__item {
}

.process__image {
}

.process__text {
}

.process__button {
}

.strategies {
}

.strategies__container {
}

.strategies__title {
}

.strategies__subtitle {
}

.strategies__list {
}

.strategies__item {
}

.strategies__wrapper {
}

.strategies__image {
}

.strategies__desc {
}

.strategies__text-wrap {
}

.strategies__headline {
}

.price {
}

.price__container {
}

.price__title {
}

.price__subtitle {
}

.price__list {
}

.price__item {
}

.price__wrapper {
}

.price__headline {
}

.price__number {
}

.price__wrap {
}

.price__symbol {
}

.price__date {
}

.price__list-text {
}

.price__item-text {
}

.price__text {
}

.price__button {
}

.clients {
}

.clients__container {
}

.clients__title {
}

.clients__subtitle {
}

.clients__list {
}

.clients__item {
}

.clients__wrapper {
}

.clients__icon {
}

.clients__text {
}

.clients__headline {
}

.clients__desc {
}

.promo {
}

.promo__container {
  width: 968px;
  margin: 0 auto;
}

.promo__wrapper {
}

.promo__title {
}

.promo__button {
}

.promo__image {
}

.footer {
}

.footer__container {
}

.footer__wrapper {
}

.footer__logo-wrap {
}

.footer__logo-link {
}

.footer__logo-icon {
}

.footer__list-social {
}

.footer__item-social {
}

.footer__icon-social {
}

.footer__resource-wrap {
}

.footer__headline {
}

.footer__list {
}

.footer__item {
}

.footer__desc {
}

.footer__legal-wrap {
}

.footer__knowing-wrap {
}

.footer__label {
}

.footer__input {
}

.footer__icon {
}

.footer__button {
}

.footer__copyright {
}
